.logo-container {
  z-index: 0;
  width: 400px;
  height: 609px;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 15%;
  bottom: 0;
  left: auto;
  margin: auto;

  svg {
    display: none;
    width: 100%;
    height: auto;
    bottom: 0;
    transform: rotateZ(30deg) !important;
  }

  .solid-logo {
    position: absolute; // Keep this
  top: 50%; // Move down by 50% of the container's height
  left: 50%; // Move right by 50% of the container's width
  transform: translate(-50%, -50%); // Shift back by 50% of its own width and height
  width: 100%; // Adjust as needed
  max-width: 500px; // Optional: Limit the maximum width
  opacity: 0; // Keep this if you want it to be hidden initially
  z-index: 1; // Keep this
  border-radius: 50%;
  }
}

.svg-container {
  stroke: #ffd700;
  stroke-width: 10;
}
